manifest {
    /* Homepage of project */
    homePage = 'https://github.com/BioRRW/Reads2Resistome'

    /* Description of project */
    description = 'Nextflow configuration file for Reads2Resistome: R2R.nf'

    /* Main pipeline script */
    mainScript = 'R2R.nf'
}

env {
    /* Location of dependency files */
    /* Trimmomatic */
    TRIMMOMATIC = '/opt/Trimmomatic-0.39/trimmomatic-0.39.jar'
    ADAPTERS = "containers/data/adapters/NexteraPE-PE.fa"
    
    /* Unicycler */
    SPADES = '/opt/SPAdes-3.11.1-Linux/bin/spades.py'
    QUAST_PATH = '/opt/quast-5.0.2'
    MAKEBALSTDB = '/opt/ncbi-blast-2.9.0+/bin/makeblastdb'
    TBLASTN = '/opt/ncbi-blast-2.9.0+/bin/tblastn'
    BLASTP= '/opt/ncbi-blast-2.9.0+/bin/blastp'
    PILON = '/opt/pilon-1.23.jar'
    RACON = '/opt/racon/build/bin/racon'
    BOWTIE2 = '/opt/bowtie2-2.3.3.1-linux-x86_64/bowtie2'
    BOWTIE2_BUILD = '/opt/bowtie2-2.3.3.1-linux-x86_64/bowtie2-build'
    
    /* QUAST */
    QUAST_REF = "null"

    /* Prokka */
    PROKKA_DB = "null"
}

singularity {
    /* Enables Singularity container execution by default */
    enabled = true

    /* Enable auto-mounting of host paths (requires user bind control feature enabled) */
    autoMounts = true
}

params {
    /* These are the default parameter values for the nextflow pipeline */

    /* Location of adapter sequences */
    adapters = "containers/data/adapters/nextera.fa"

    /* Location of tab delimited adapter sequences */
    fqc_adapters = "containers/data/adapters/nextera.tab"
    
    /* Location of e. coli reference */
    reference = "/opt/quast-5.0.2/references/EcoliK12_MG1655_U00096.3.fasta"
    ref_genes = "/opt/quast-5.0.2/references/EcoliK12_MG1655_U00096.3.gff"

    /* Number of threads */
    threads = 1

    /* Quality Control */
    qc = "true"
    nanoplot_threads = 5

    /* Trimmomatic trimming parameters */
    leading = 3
    trailing = 3
    slidingwindow = "4:20"
    minlen = 36
    
    /* Unicycler parameters */
    assembly = "hybrid"
    mode = "normal"
    spades_path = '/opt/SPAdes-3.11.1-Linux/bin/spades.py'
    makeblastdb_path = '/opt/ncbi-blast-2.9.0+/bin/makeblastdb'
    tblastn_path = '/opt/ncbi-blast-2.9.0+/bin/tblastn'
    pilon_path = '/opt/pilon-1.23.jar'
    racon_path = '/opt/racon/build/bin/racon'
    bowtie2_path = '/opt/bowtie2-2.3.3.1-linux-x86_64/bowtie2'
    bowtie2_build_path = '/opt/bowtie2-2.3.3.1-linux-x86_64/bowtie2-build'

    /* QUAST */
    quast_path = '/opt/quast-5.0.2'
    quast_ref = "null"

    /* Prokka */
    prokka_threads = 2
    blastp_path = '/opt/ncbi-blast-2.9.0+/bin/blastp'
    prokka_db = "null"
    prokka_run = "true"

    /* SISTR */
    serovar = "false"
    sistr_threads = 2

    /* ARIBA */
    abricate_run = "true"    

    /* Display help message */
    help = false
}

process {
      withName: Nanoplot {
        maxForks = 1
        cpus = 2
        /* container = 'shub://rrw/<NAME>' */
        container = 'containers/R2R_Main-0.0.1.simg'
    }
    withName: QualityControl {
        maxForks = 1
        cpus = 2
        /* container = 'shub://rrw/<NAME>' */
        container = 'containers/R2R_Main-0.0.1.simg'
    }
    withName: Dedupe {
	maxForks = 4
	container = 'containers/R2R_Main-0.0.1.simg'
    }
    withName: FastQC {
        maxForks = 4
        cpus = 2 
        /* container = 'shub://rrw/<NAME>' */
        container = 'containers/R2R_Main-0.0.1.simg'
    }
    withName: postFastQC {
        maxForks = 4
         cpus = 2
        /* container = 'shub://rrw/<NAME>' */
        container = 'containers/R2R_Main-0.0.1.simg'
    }
    withName: preMultiQC {
        maxForks = 1
        /* cpus = 2 */
        /* container = 'shub://rrw/<NAME>' */
        container = 'containers/R2R_Main-0.0.1.simg'
    }
    withName: postMultiQC {
        maxForks = 1
        /* cpus = 2 */
        /* container = 'shub://rrw/<NAME>' */
        container = 'containers/R2R_Main-0.0.1.simg'
    }
    withName: Unicycler {
        maxForks = 1
        /* cpus = 2 */
        /* container = 'shub://rrw/<NAME>' */
        container = 'containers/R2R_Main-0.0.1.simg'
    }
    withName: Bandage {
        maxForks = 1
        /* cpus = 2 */
        /* container = 'shub://rrw/<NAME>' */
        container = 'containers/R2R_Main-0.0.1.simg'
    }
    withName: BAM {
        maxForks = 1
        /* cpus = 2 */
        /* container = 'shub://rrw/<NAME>' */
        container = 'containers/R2R_Main-0.0.1.simg'
    }
    withName: Phigaro {
	maxForks = 1
	/* cpus = 2 */
        container = 'containers/R2R_Phigaro-0.0.1.simg'
    }
    withName: QUAST {
        maxForks = 1
        cpus = 12 
        /* container = 'shub://rrw/<NAME>' */
        container = 'containers/R2R_Main-0.0.1.simg'
    }
    withName: QUASTMultiQC {
        maxForks = 1
        /* cpus = 2 */
        /* container = 'shub://rrw/<NAME>' */
        container = 'containers/R2R_Main-0.0.1.simg'
    }
    withName: SISTR {
        maxForks = 1
        /* cpus = 2 */
        /* container = 'shub://rrw/<NAME>' */
        container = 'containers/R2R_Main-0.0.1.simg'
    }
    withName: Prokka {
        maxForks = 1
        /* cpus = 2 */
        /* container = 'shub://rrw/<NAME>' */
        container = 'containers/R2R_Main-0.0.1.simg'
    }
    withName: ABRICATE {
        maxForks = 1
        /* cpus = 1 */
        /* container = 'shub://rrw/<NAME>' */
        container = 'containers/R2R_ABRICATE-0.0.1.simg'
    }
}


